body {
  background-color: #f7f9ff;
  font-family: ttinterface, DINNext, IBMPlexSans, Arial, PingFangSC-Regular, microsoft yahei, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
